.theme--light.v-chip {
  background: $pos-light-blue;
}

.blue {
  background-color: $pos-dark-blue !important;
}

table.v-table thead th {
  font-size: 18px !important;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  

}